# Created by https://www.gitignore.io/api/c++

assignment3/samples/

*.swp
*.cavlac
*~

*.bin
*.wav
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
filesTxt
bin
output
build

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# End of https://www.gitignore.io/api/c++

assignment3/histograms/images/

assignment3/histograms/rawdata/

*.log
